$font-family-system: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;

// Colors

$gray-darker: #282C34 !default;
$gray-dark: #485975 !default;
$gray: #C5CFD6 !default;
$gray-lighter: #E6E7E8 !default;
$gray-lightest: #F8F8F9 !default;

$brand-blue-dark: #009EFF;
$brand-blue: #60CFE9;
$brand-green: #ABD189;
$brand-green-dark: #96C56B;

$brand-pink: #F6B0F3;
$brand-pink-dark: #FD87BE;
$brand-purple: #A700FF;
$brand-purple-dark: #7602C1;
$brand-yellow: #FFE496;
$brand-yellow-dark: #FFDD7C;
