@import 'variables';
@import 'animations';
@import 'stream';
@import 'typography';

* {
	box-sizing:border-box;
}
body, html {
	background:$gray-lightest;
	color:$gray-darker;
	font-weight:300;
	padding:0;
	margin:0;
	font-size:11px;
}


#root {
	margin-left:auto;
	margin-right:auto;
	font-family:$font-family-system;
}



.btn {
	border:1px solid $gray-darker;
	// background:rgba($gray-lightest,0.3);
	color:#fff;
	padding:8px 12px;
	background:transparent;
	line-height:24px;
	border-radius:5px;

	& + .btn {
		margin-left:5px;
	}
}
